.card {
    height: 300px;
    background-size: cover;
    padding: 0px;
    border: 0px;
    margin: 15px;
    display: inline-flex;
    z-index: 2;
}

.card .votes-container {
    margin: 0px;
    user-select: none;
}

.votes-container div {
    transition: width 1s;
    cursor: pointer;
}
.vote img {
    vertical-align: text-bottom;
    margin: 0px 3px;
}
.vote-down{
    transform: rotateX(180deg)rotateY(180deg);
}
